﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Eğitim Merkezi">
    <meta name="description" content="Eğitim Merkezi">
    <title>Eğitim Merkezi</title>


    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->

</head>
<body>

    <!-- This one in here is responsive menu for tablet and mobiles -->
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">

                <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                <li>
                    <a>Kurslar</a>
                    @*<ul>
                            <li><a href="/Home/Courses?CategoryID=1">Kişisel Gelişim Kursları</a></li>
                            <li><a href="/Home/Courses?CategoryID=2">Sertifika Kursları</a></li>
                            <li><a href="/Home/Courses?CategoryID=3">Sınavlara Hazırlık Kursları</a></li>
                        </ul>*@
                </li>
                <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
            </ul>
            <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            </ul> <!-- /.social_icons -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->


    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 header-left">
                    <p><i class="fa fa-phone"></i> +90 (264) 295 54 54</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:sabis@sakarya.edu.tr">sabis@sakarya.edu.tr</a></p>
                </div> <!-- /.header-left -->

                <div class="col-md-4">
                    <div class="logo">
                        <a href="Index" title="Eğitim Merkezi" rel="home">
                            <h3 style=" color:#c6badd;">SABİS</h3>
                            <h3 style=" color:#c6badd; margin-top:0px;">EĞİTİM MERKEZİ</h3>

                        </a>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-4 -->

                <div class="col-md-4 header-right">
                    <ul class="small-links">
                        @Html.Partial("_LoginPartial")
                    </ul>

                    @*<ul class="small-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Apply Now</a></li>
                        </ul>*@
                    <div class="search-form">
                        <form name="search_form" method="get" action="#" class="search_form">
                            <input type="text" name="s" placeholder="Sitede arama..." title="Sitede arama..." class="field_search">
                        </form>
                    </div>
                </div> <!-- /.header-right -->
            </div>
        </div> <!-- /.container -->

        <div class="nav-bar-main" role="navigation">
            <div class="container">
                <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                    <ul class="main-menu sf-menu">
                        <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        <li>
                            <a>Kurslar</a>
                            @*<ul>
                                    <li><a href="/Home/Courses?CategoryID=1">Kişisel Gelişim Kursları</a></li>
                                    <li><a href="/Home/Courses?CategoryID=2">Sertifika Kursları</a></li>
                                    <li><a href="/Home/Courses?CategoryID=3">Sınavlara Hazırlık Kursları</a></li>
                                </ul>*@
                        </li>
                        <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    </ul>


                    <ul class="social-icons pull-right">
                        <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul> <!-- /.social-icons -->
                </nav> <!-- /.main-navigation -->
            </div> <!-- /.container -->
        </div> <!-- /.nav-bar-main -->

    </header> <!-- /.site-header -->

    <div class="container">@RenderBody()</div>

    <!-- begin The Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="bottom-footer">
                <div class="row">
                    <div class="col-md-2">
                        <p class="small-text">
                            &copy; @DateTime.Now.Year. <a href="http://www.sakarya.edu.tr">
                                Sakarya Üniversitesi
                            </a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class="footer-nav">
                            <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                            <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                            <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons pull-right">
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
